<div class="test02">
	<div class="ngdialog ngdialog-theme-default col-xs-12 col-sm-8 col-md-6 col-lg-6">

		<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" role="alert">{{alert.msg}}</div>

	    <form class="future-banking" role="Funds Transfer Form">
			
			<section class="container-fluid header" role="Send Transfer">
		    	<div class="row">
		    		<div class="col-xs-12 col-sm-12 col-md-6">
		        		<i class="fa fa-credit-card fa-2x"></i>
		        		<p class="title">Send Transfer</p>
		        	</div>
		        	<div class="col-xs-12 col-sm-12 col-md-6">
		        		<div class="btn-group" role="group">
			        		<button class="btn btn-default">
			        			<img class="profile-img" alt="" role="alert">
			        			<span for="user-name" id="user-name">John Smith</span>
			        		</button>
			        		<button role="sign out" class="btn btn-default">
			        			Sign out
								<i class="fa fa-sign-out fa-lg"></i>
			        		</button>
		        		</div>
		        	</div>
		        </div>
		        <div class="row">
		        	<div class="col-xs-12">
		        		<hr/>
		        	</div>
		        </div>
	        </section>

	        <section class="container-fluid" id="account-info" role="Account Information section">
				<div class="col-xs-12">
			        <div class="row">
			        	<div class="col-xs-12">
			
			        		<h4>From</h4>
			        		
			        		<div class="row bg-gray">
			        			<div class="col-xs-6"><label for="accountname">Account Name:</label></div>
			        			<div class="col-xs-6"><label for="checking">Checking</label></div>
			        		</div>
			        		<div class="row bg-gray">
			        			<div class="col-xs-6"><label for="accountnumber">Account Number:</label></div>
			        			<div class="col-xs-6"><label for="123456789">123456789</label></div>
			        		</div>
			        		<div class="row bg-gray">
			        			<div class="col-xs-6"><label for="currentbalance">Current Balance:</label></div>
			        			<div class="col-xs-6"><label for="5000">{{5000 | currency }}</label></div>
			        		</div>

			        		<hr/>

			        	</div>
			        </div>
		        </div>
	        </section>

	        <section class="container-fluid" id="transfer-details" role="Transfer Details">
				<div class="col-xs-12">
			        <div class="row">
			        	<div class="col-xs-12">

			        		<h4>Transfer details</h4>
			        		
			        		<div class="row bg-gray">
			        			<div class="col-xs-6">
			        				<label for="amount to transfer" id="transfer-amount">Amount to transfer:</label>
			        			</div>
			        			<div class="col-xs-6">
				        			<input class="form-control" for="300" type="text" value="{{300 | currency}}">
			        			</div>
			        		</div>
			        		<div class="row bg-gray">
			        			<div class="col-xs-6">
			        				<label id="transfer-frequency" for="transfer-frequency">Frequency:</label>
			        			</div>
			        			<div class="col-xs-6">
			        				<select for="frequency" class="form-control">
									  <option for="Every day">Every day</option>
									  <option for="Weekly">Weekly</option>
									  <option for="Bi-Weekly">Bi-weekly</option>
									  <option for="Monthly">Monthly</option>
									</select>
			        			</div>
			        		</div>

			        		<hr/>

			        	</div>
			        </div>
		        </div>
	        </section>

	        <section class="container-fluid" id="send-to-recipient" for="send to recipient">
				<div class="col-xs-12">
			        <div class="row">
			        	<div class="col-xs-12">
			        		<h4>Send to</h4>
			        		
			        		<div class="row ">
			        			<div class="col-xs-8">
			        				<img class="profile-img" role="presentation of profile image">
			        				<h3 id="recipient">Jane Smith</h3>
			        			</div>
			        			<div class="col-xs-4">
				        			<a href="" role="change recipient" class="change-user-link">Change recipient</a>
			        			</div>
			        		</div>

			        		<hr/>

							<button for="send" type="button" class="btn btn-primary btn-send" ng-click="addAlert()">Send {{300 | currency}}</button>

			        	</div>
			        </div>
		        </div>
	        </section>

	    </form>
	</div>
</div>
